ipython==8.12.3
matplotlib==3.7.4
qiskit==0.45.1
qiskit_ibm_runtime==0.14.0
qiskit_ibmq_provider==0.19.2
qiskit_machine_learning==0.7.0
qiskit_terra==0.45.1
setuptools==69.0.3
torch==2.1.0
torchvision==0.16.0
